<div id="<%= dom_id contact %>">
  <p>
    <strong>Type contact:</strong>
    <%= contact.type_contact %>
  </p>

  <p>
    <strong>Value contact:</strong>
    <%= contact.value_contact %>
  </p>

  <p>
    <strong>Store:</strong>
    <%= contact.store_id %>
  </p>

</div>
